@use "colors";

.workspace {
  min-width: 16px;
  min-height: 16px;
  padding: 0;
  background: none;

  .indicator {
    min-width: 5px;
    min-height: 5px;
    background: colors.$surface1;
    border-radius: 4px;
    transition-property: background, min-height, min-width;
    transition-duration: 200ms;
  }

  &.occupied .indicator {
    background: colors.$subtext0;
    min-width: 7px;
    min-height: 7px;
  }

  &.active .indicator {
    background: colors.$accent;
    min-width: 16px;
    min-height: 11px;
  }

  &:not(.active) {
    &:hover .indicator {
      background-color: colors.$surface2;
    }

    &.occupied:hover .indicator {
      background-color: colors.$text;
    }
  }
}
