@use "./theme";

.Bar {
  min-width: 36px;
}

.BarOsIcon {
  color: theme.$blue;
  min-height: 28px;
  font-size: 1.125rem;
  margin-bottom: 4px;
}

.BarWorkspaces {
  min-width: 24px;
  background-color: theme.$base;
  border-radius: 9999px;
  padding: 8px 0;
  margin: 4px 0;

  &-workspace {
    min-height: 8px;

    &-indicator {
      min-width: 4px;
      min-height: 4px;
      border-radius: 3px;
      background-color: theme.$subtext0;
    };

    &-empty {
      background-color: theme.$surface1;
    };

    &-focused {
      background-color: theme.$blue;
      min-width: 10px;
      min-height: 6px;
    };
  }
}

.BarTime {
  padding: 10px 0;
  font-weight: 600;

  &-time {
    color: theme.$text;
  };

  &-date {
    color: theme.$subtext0;
    &-month {
      font-size: 0.75rem;
    };
  }
}
